<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pupil update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #formEditUser="ngForm" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label for="fullname">Fullname</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter fullname" [(ngModel)]="row.fullName"
                        name="fullname">
                </div>
            </div>
            <div class="form-group">
                <label for="identitycard">Identity Card</label>
                <div class="input-group">
                    <input class="form-control" placeholder="Enter identitycard" name="identitycard"
                        [(ngModel)]="row.cmnd">
                </div>
            </div>
            <div class="form-group">
                <label for="school">School:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="Enter school" name="school"
                        [(ngModel)]="row.school">
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="Enter phone" name="phone"
                        [(ngModel)]="row.phone">
                </div>
            </div>
            <div class="form-group">
                <label for="code">Code:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="Enter code" name="code"
                        [(ngModel)]="row.code">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"
                (click)="updatePupil();">Update</button>
        </div>
    </form>
</ng-template>
<button type="button" class="btn btn-primary" (click)="open(content)"><i class="fa fa-edit fa-lg"></i></button>