<div class="card">
  <div class="card-header">
      <h5></h5>
  </div>
  <div class="card-body">
      <form>
          <div class="form-group">
            <label for="txtId">ID:</label>
            <input type="text" class="form-control" name="txtId" id="txtId" aria-describedby="id" placeholder="Enter id" (ngModel)="customer.id">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="txtCommission">Name:</label>
            <input type="text" class="form-control" name="txtName" id="txtName" placeholder="name" (ngModel)="customer.name">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="name">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="button" (click)="save()" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>