<ng-template #adding let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Adding a user</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #formAddUser="ngForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="fullname">Username:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter username" [(ngModel)]="aUser.username" name="username" required>
                </div>
            </div>
            <div class="form-group">
                <label for="fullname">Password:</label>
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="Enter password"
                        [(ngModel)]="aUser.password" name="password" required>
                </div>
            </div>
            <div class="form-group">
                <label for="fullname">Fullname:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter fullname" [(ngModel)]="aUser.fullName"
                        name="fullName">
                </div>
            </div>
            <div class="form-group">
                <label for="identitycard">Identity Card</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter identitycard"
                        [(ngModel)]="aUser.identitycard" name="identitycard">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Birthday:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" type="text" ngbDatepicker
                        #d="ngbDatepicker" [(ngModel)]="aUser.birthday" name="birthday" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary cui-calendar" (click)="d.toggle()"
                            type="button"></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="sex">Sex:</label>
                <select class="form-control" id="sex" [(ngModel)]="aUser.sex" name="sex">
                    <option value="true" [selected]="true">Male</option>
                    <option value="false">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <div class="input-group">
                    <input type="text" id="address" class="form-control" placeholder="Enter address" [(ngModel)]="aUser.address" name="address">
                </div>
            </div>
            <div class="form-group">
                <label for="userrole">User role:</label>
                <select class="form-control" [(ngModel)]="aUser.usertypeid" name="usertypeid" required>
                    <option value="1">Admin</option>
                    <option value="2" [selected]="true">Lecturer</option>
                </select>
            </div>
            <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" id="status" [(ngModel)]="aUser.status" name="status" required>
                    <option value="true" [selected]="true">Enable</option>
                    <option value="false">Disable</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')"
                (click)="addUser()">Save</button>
        </div>
    </form>
</ng-template>

<button class="btn btn-primary" (click)="open(adding)">Add user</button>