<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <app-class-adding-modal></app-class-adding-modal>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12">
            <h3><strong>List of Classes</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
                <thead class="bg-dark">
                    <tr>
                        <th>ID</th>
                        <th>Class name</th>
                        <th>Lecturer</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of classes">
                        <td>{{row.id}}</td>
                        <td>{{row.classname}}</td>
                        <td>{{row.lecturer}}</td>
                        <td>
                            <app-class-editing-modal [(row)]="row"></app-class-editing-modal>
                            <button type="button" class="btn btn-danger" (click)="delete($event, row.id)"><i class="fa fa-trash-o fa-lg"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>